{
  "openapi": "3.1.0",
  "info": {
    "title": "MovingManifest REST API",
    "version": "1.0.0",
    "description": "Agent-friendly REST API for move setup, inventory, spaces, photos, sale prep, planning context, and exports."
  },
  "servers": [
    {
      "url": "https://movingmanifest.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerApiKey": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Inspect connection context",
        "operationId": "getApiContext",
        "responses": {
          "200": {
            "description": "Current OAuth/API-key connection, household, scopes, move restriction, and safe connection identity. OAuth users with no active household receive connection.status=needs_household plus onboarding.setupUrl and no private household access."
          }
        }
      }
    },
    "/households/{householdId}/members": {
      "get": {
        "summary": "List household members",
        "operationId": "listHouseholdMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/householdId"
          }
        ],
        "responses": {
          "200": {
            "description": "Real household login access records. Requires members/manage."
          }
        }
      },
      "post": {
        "summary": "Add or invite a household member by email",
        "operationId": "addHouseholdMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/householdId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HouseholdMemberAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing member access or pending invitation updated."
          },
          "201": {
            "description": "Household member access created."
          },
          "202": {
            "description": "Pending household invitation created for an email that has not signed in yet."
          }
        }
      }
    },
    "/moves": {
      "get": {
        "summary": "List moves",
        "operationId": "listMoves",
        "responses": {
          "200": {
            "description": "Accessible moves."
          }
        }
      },
      "post": {
        "summary": "Create a move",
        "operationId": "createMove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Move created."
          }
        }
      }
    },
    "/moves/setup": {
      "post": {
        "summary": "Create or update a move with spaces, transport, zones, and starter items",
        "operationId": "setupMove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "move": {
                    "$ref": "#/components/schemas/MoveCreate"
                  },
                  "spaces": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MoveSpace"
                    }
                  },
                  "transportResources": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ItemInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move setup result."
          },
          "201": {
            "description": "Move created and setup applied."
          }
        }
      }
    },
    "/moves/{moveId}/agent-context": {
      "get": {
        "summary": "Fetch compact move context for AI agents",
        "operationId": "getAgentContext",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "sections",
            "in": "query",
            "description": "Comma-separated section names to include, such as items,photos,salePipeline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPerSection",
            "in": "query",
            "description": "Maximum rows per included section, clamped from 1 to 500. Defaults vary by section.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Move, bounded spaces, transport, items, photos, sale pipeline, layout plans, sectionMeta, movableUnitSummary, and AI contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContextResponse"
                }
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/summary": {
      "get": {
        "summary": "Fetch bounded move summary",
        "operationId": "getMoveSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "sections",
            "in": "query",
            "description": "Comma-separated section names to include, such as items,boxes,assignments,photos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPerSection",
            "in": "query",
            "description": "Maximum rows per included section, clamped from 1 to 500. Defaults vary by section.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Move summary with bounded array sections, counts, movableUnitSummary, sectionMeta, and generatedAt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/ingestion-queue": {
      "get": {
        "summary": "List ingestion queue entries",
        "operationId": "listIngestionQueue",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "claimed",
                "processed",
                "needsInput",
                "resolved",
                "discarded"
              ]
            }
          },
          {
            "name": "room",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopeHint",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inventory",
                "packing",
                "condition",
                "measurements",
                "floorPlan"
              ]
            }
          },
          {
            "name": "targetPlanId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasImage",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasAudio",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasVideo",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeMedia",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Numeric row offset for pagination. Prefer offset for new clients; cursor remains accepted as a legacy alias.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated capture-now/process-later queue entries with media summaries."
          }
        }
      },
      "post": {
        "summary": "Create ingestion queue entry",
        "operationId": "createIngestionQueueEntry",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instructions": {
                    "type": "string"
                  },
                  "roomHint": {
                    "type": "string"
                  },
                  "dispositionHint": {
                    "type": "string"
                  },
                  "scopeHint": {
                    "type": "string",
                    "enum": [
                      "inventory",
                      "packing",
                      "condition",
                      "measurements",
                      "floorPlan"
                    ]
                  },
                  "intent": {
                    "type": "string",
                    "description": "User-facing workflow intent for this capture.",
                    "enum": [
                      "general",
                      "newMovableUnit",
                      "newItem",
                      "existingBox",
                      "existingItem",
                      "boxContents",
                      "condition",
                      "measurements",
                      "floorPlan"
                    ]
                  },
                  "targetBoxId": {
                    "type": "string",
                    "description": "Existing box ID this queue entry is about."
                  },
                  "targetBoxCode": {
                    "type": "string",
                    "description": "Visible existing box code such as B-001; normalized and resolved within the move."
                  },
                  "targetItemId": {
                    "type": "string",
                    "description": "Existing inventory item ID this queue entry is about."
                  },
                  "targetLabel": {
                    "type": "string",
                    "description": "Human-readable target label when the user identifies the related box/item by name."
                  },
                  "targetPlanId": {
                    "type": "string"
                  },
                  "mediaPhotoIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created ingestion queue entry."
          }
        }
      }
    },
    "/moves/{moveId}/ingestion-queue/claim": {
      "post": {
        "summary": "Claim ingestion queue entries for processing",
        "operationId": "claimIngestionQueue",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batchSize": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "agentLabel": {
                    "type": "string"
                  },
                  "scopeHint": {
                    "type": "string",
                    "enum": [
                      "inventory",
                      "packing",
                      "condition",
                      "measurements",
                      "floorPlan"
                    ]
                  },
                  "targetPlanId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claimed entries and claim expiration."
          }
        }
      }
    },
    "/moves/{moveId}/ingestion-queue/{entryId}/results": {
      "post": {
        "summary": "Submit ingestion queue processing results",
        "operationId": "submitIngestionQueueResults",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentSummary": {
                    "type": "string"
                  },
                  "committedItems": {
                    "type": "array",
                    "description": "Trusted inventory rows to create or update while finalizing this queue entry. Use only when the user granted trusted-helper access.",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/IngestionCommittedItem"
                    }
                  },
                  "committedBoxes": {
                    "type": "array",
                    "description": "Trusted box/container rows to create while finalizing this queue entry. Use with boxAssignments and loadAssignments for one-call queue packing and load planning.",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/IngestionCommittedBox"
                    }
                  },
                  "boxAssignments": {
                    "type": "array",
                    "description": "Item-to-box assignments to apply while finalizing this queue entry. Rows may reference queue-created items by externalSource/externalId and boxes by boxCode.",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/IngestionBoxAssignment"
                    }
                  },
                  "loadAssignments": {
                    "type": "array",
                    "description": "Box-or-loose-item transport resource/zone assignments to apply while finalizing this queue entry. Use boxId/boxCode for boxes or itemId/externalSource/externalId for large loose items.",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/IngestionLoadAssignment"
                    }
                  },
                  "proposedItems": {
                    "type": "array",
                    "description": "Pending review item suggestions; these do not directly create trusted inventory.",
                    "items": {
                      "$ref": "#/components/schemas/IngestionProposedItem"
                    }
                  },
                  "resultItemIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resultRefs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IngestionResultRef"
                    }
                  },
                  "needsInputQuestion": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue entry marked processed or needsInput, with created review suggestion IDs."
          }
        }
      }
    },
    "/moves/{moveId}/ingestion-queue/{entryId}/status": {
      "post": {
        "summary": "Set ingestion queue entry status",
        "operationId": "setIngestionQueueStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "claimed",
                      "processed",
                      "needsInput",
                      "resolved",
                      "discarded"
                    ]
                  },
                  "question": {
                    "type": "string"
                  },
                  "agentSummary": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated queue entry."
          }
        }
      }
    },
    "/moves/{moveId}/ingestion-queue/{entryId}/evidence/{photoId}/url": {
      "get": {
        "summary": "Get a signed ingestion evidence URL",
        "operationId": "getIngestionQueueEvidenceUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "original",
                "thumb",
                "card",
                "detail",
                "full"
              ],
              "default": "original"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Short-lived original or derivative evidence URL for media attached to the queue entry."
          }
        }
      }
    },
    "/moves/{moveId}/items": {
      "get": {
        "summary": "List move items",
        "operationId": "listItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive text search across item name, description, room, destination room, and category. Applied before pagination."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Alias for query."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disposition",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationRoom",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to items with this readable destination room/place."
          },
          {
            "name": "destinationSpaceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to items assigned to this stable destination move space."
          },
          {
            "name": "agentLabel",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to items attributed to this agent label."
          },
          {
            "name": "maxConfidence",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "description": "Filter to items with aiConfidenceScore less than or equal to this value."
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory items."
          }
        }
      },
      "post": {
        "summary": "Create an item",
        "operationId": "createItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item created."
          }
        }
      }
    },
    "/moves/{moveId}/boxes": {
      "get": {
        "summary": "List move boxes",
        "operationId": "listBoxes",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive text search across box code, label, room, and description. Applied before pagination."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Alias for query."
          },
          {
            "name": "destinationRoom",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to boxes with this readable destination room/place."
          },
          {
            "name": "destinationSpaceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to boxes assigned to this stable destination move space."
          }
        ],
        "responses": {
          "200": {
            "description": "Boxes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Box"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create box",
        "operationId": "postMovesByMoveIdBoxes",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "Create box"
          },
          "201": {
            "description": "Box created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "boxId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxInput"
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/box-items": {
      "post": {
        "summary": "Assign items to a box by ID or ref",
        "operationId": "assignBoxItems",
        "description": "Upsert one or more item-to-box assignments. Agents may pass boxCode instead of boxId and item externalSource/externalId instead of itemId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignments updated."
          },
          "201": {
            "description": "Assignments created."
          },
          "207": {
            "description": "One or more assignment rows failed; inspect row-level results."
          }
        }
      },
      "delete": {
        "summary": "Remove item-to-box assignments by ID or ref",
        "operationId": "removeBoxItems",
        "description": "Remove one or more item-to-box assignments without deleting inventory items. Agents may pass boxCode and item external keys.",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignments removed."
          },
          "207": {
            "description": "One or more assignment rows failed; inspect row-level results."
          }
        }
      },
      "put": {
        "summary": "Batch upsert box items",
        "operationId": "putMovesByMoveIdBoxItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch upsert box items"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/boxes/{boxId}/items": {
      "post": {
        "summary": "Assign items to a specific box",
        "operationId": "assignItemsToBox",
        "description": "Nested alias for batch item-to-box assignment. The path supplies boxId; request rows may use itemId or externalSource/externalId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "boxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignments updated."
          },
          "201": {
            "description": "Assignments created."
          },
          "207": {
            "description": "One or more assignment rows failed; inspect row-level results."
          }
        }
      },
      "delete": {
        "summary": "Remove items from a specific box",
        "operationId": "removeItemsFromBox",
        "description": "Nested alias for batch item-to-box removal. The path supplies boxId; request rows may use itemId or externalSource/externalId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "boxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignments removed."
          },
          "207": {
            "description": "One or more assignment rows failed; inspect row-level results."
          }
        }
      },
      "put": {
        "summary": "Upsert item assignment to move box",
        "operationId": "putMovesByMoveIdBoxesByBoxIdItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "$ref": "#/components/parameters/boxId"
          }
        ],
        "responses": {
          "200": {
            "description": "Upsert item assignment to move box"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/photos": {
      "get": {
        "summary": "List move photos",
        "operationId": "listPhotos",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive text search across caption, fileName, and room. Applied before pagination."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Alias for query."
          }
        ],
        "responses": {
          "200": {
            "description": "Photos."
          }
        }
      }
    },
    "/moves/{moveId}/items/batch-upsert": {
      "post": {
        "summary": "Create or update up to 100 items",
        "operationId": "batchUpsertItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "dryRun": {
                    "type": "boolean"
                  },
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/BatchItemInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-row create/update result."
          }
        }
      }
    },
    "/moves/{moveId}/spaces": {
      "get": {
        "summary": "List spaces",
        "operationId": "listMoveSpaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "Origin, destination, transport, and custom spaces."
          }
        }
      },
      "post": {
        "summary": "Create a space",
        "operationId": "createMoveSpace",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveSpace"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created."
          }
        }
      }
    },
    "/moves/{moveId}/sale-listings": {
      "post": {
        "summary": "Create or update sale listing for an item",
        "operationId": "upsertSaleListing",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaleListingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sale listing updated."
          },
          "201": {
            "description": "Sale listing created."
          }
        }
      },
      "get": {
        "summary": "List sale listings",
        "operationId": "getMovesByMoveIdSaleListings",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "List sale listings"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/read"
        ]
      }
    },
    "/images/upload": {
      "post": {
        "summary": "Upload image evidence in one call",
        "operationId": "uploadImageEvidenceImage",
        "description": "Plain REST alias for /photos/upload using image terminology. Send raw JPEG/PNG/WebP bytes with metadata query params, multipart form data with a file field, or JSON with exactly one public sourceUrl, dataUrl, or fileBase64 image. MovingManifest stores the original, reads dimensions, finalizes the evidence record, creates web-ready derivatives server-side, can optionally queue AI photo-review suggestions, and returns agentReview so assistants can summarize assumptions without asking for every field.",
        "parameters": [
          {
            "name": "moveId",
            "in": "query",
            "description": "Required when uploading raw image bytes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "description": "Readable room label for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caption",
            "in": "query",
            "description": "Caption for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoType",
            "in": "query",
            "description": "Photo type for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generateAiSuggestions",
            "in": "query",
            "description": "Set true for raw image byte uploads when the photo should also enter AI photo review. Requires inventory/write for queueing; upload can still succeed if review queueing fails.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoDirectUpload"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PhotoMultipartUpload"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo record created and derivative processing attempted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoDirectUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/photos/upload": {
      "post": {
        "summary": "Upload image evidence in one call",
        "operationId": "uploadPhotoEvidenceImage",
        "description": "Default REST image upload path for agents. /images/upload is an equivalent alias when image terminology is clearer. Send raw JPEG/PNG/WebP bytes with metadata query params, multipart form data with a file field, or JSON with exactly one public sourceUrl, dataUrl, or fileBase64 image. MovingManifest stores the original, reads dimensions, finalizes the evidence record, creates web-ready derivatives server-side, can optionally queue AI photo-review suggestions, and returns agentReview so assistants can summarize assumptions without asking for every field.",
        "parameters": [
          {
            "name": "moveId",
            "in": "query",
            "description": "Required when uploading raw image bytes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room",
            "in": "query",
            "description": "Readable room label for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caption",
            "in": "query",
            "description": "Caption for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photoType",
            "in": "query",
            "description": "Photo type for raw image byte uploads.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generateAiSuggestions",
            "in": "query",
            "description": "Set true for raw image byte uploads when the photo should also enter AI photo review. Requires inventory/write for queueing; upload can still succeed if review queueing fails.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoDirectUpload"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PhotoMultipartUpload"
              }
            },
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo record created and derivative processing attempted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoDirectUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uploads/init": {
      "post": {
        "summary": "Start photo upload",
        "operationId": "startPhotoUpload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadInit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presigned upload session."
          }
        }
      }
    },
    "/photos/finalize": {
      "post": {
        "summary": "Finalize photo upload",
        "operationId": "finalizePhotoUpload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoFinalize"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo record created."
          }
        }
      }
    },
    "/photos/{photoId}/display-url": {
      "get": {
        "summary": "Get photo display URL",
        "operationId": "getPhotoDisplayUrl",
        "description": "Returns a short-lived URL for a web-ready image derivative after upload. This endpoint is derivative-only and does not expose original storage files. Private, sensitive, claim-only, hidden, non-image, and not-yet-ready evidence is rejected.",
        "parameters": [
          {
            "name": "photoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moveId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "description": "Preferred derivative variant. The server may serve a nearby ready variant when the exact one is unavailable.",
            "schema": {
              "type": "string",
              "enum": [
                "thumb",
                "card",
                "detail",
                "full"
              ],
              "default": "detail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Short-lived derivative display URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoDisplayUrlResponse"
                }
              }
            }
          },
          "403": {
            "description": "Photo privacy or derivative status does not allow API display delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Derivative is not ready yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/moves/{moveId}/capacity-report": {
      "get": {
        "summary": "Get capacity report",
        "operationId": "getCapacityReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "Capacity estimates and warnings."
          }
        }
      }
    },
    "/moves/{moveId}/move-day": {
      "get": {
        "summary": "Get move-day checklist",
        "operationId": "getMoveDayChecklist",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "Move-day checklist."
          }
        }
      }
    },
    "/moves/{moveId}/exports": {
      "post": {
        "summary": "Create export",
        "operationId": "createExport",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "201": {
            "description": "Export job created."
          }
        }
      },
      "get": {
        "summary": "List export jobs",
        "operationId": "getMovesByMoveIdExports",
        "parameters": [
          {
            "$ref": "#/components/parameters/moveId"
          }
        ],
        "responses": {
          "200": {
            "description": "List export jobs"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "exports/read"
        ]
      }
    },
    "/exports/{exportId}": {
      "get": {
        "summary": "Top-level export lookup",
        "operationId": "getExportsByExportId",
        "parameters": [
          {
            "$ref": "#/components/parameters/exportId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level export lookup"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "exports/read"
        ]
      }
    },
    "/items/{itemId}": {
      "get": {
        "summary": "Top-level item lookup",
        "operationId": "getItemsByItemId",
        "parameters": [
          {
            "$ref": "#/components/parameters/itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level item lookup"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/read"
        ]
      },
      "patch": {
        "summary": "Top-level item update",
        "operationId": "patchItemsByItemId",
        "parameters": [
          {
            "$ref": "#/components/parameters/itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level item update"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Top-level item archive",
        "operationId": "deleteItemsByItemId",
        "parameters": [
          {
            "$ref": "#/components/parameters/itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level item archive"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/boxes/{boxId}": {
      "get": {
        "summary": "Top-level box lookup",
        "operationId": "getBoxesByBoxId",
        "parameters": [
          {
            "$ref": "#/components/parameters/boxId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level box lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Box"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/read"
        ]
      },
      "patch": {
        "summary": "Top-level box update",
        "operationId": "patchBoxesByBoxId",
        "parameters": [
          {
            "$ref": "#/components/parameters/boxId"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-level box update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Box"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoxInput"
              }
            }
          }
        }
      }
    },
    "/boxes/{boxId}/items": {
      "post": {
        "summary": "Assign item to box",
        "operationId": "postBoxesByBoxIdItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/boxId"
          }
        ],
        "responses": {
          "200": {
            "description": "Assign item to box"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/boxes/{boxId}/items/{itemId}": {
      "delete": {
        "summary": "Remove item from box",
        "operationId": "deleteBoxesByBoxIdItemsByItemId",
        "parameters": [
          {
            "$ref": "#/components/parameters/boxId"
          },
          {
            "$ref": "#/components/parameters/itemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Remove item from box"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/photos/{photoId}/attach": {
      "post": {
        "summary": "Attach or update photo metadata",
        "operationId": "postPhotosByPhotoIdAttach",
        "parameters": [
          {
            "$ref": "#/components/parameters/photoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Attach or update photo metadata"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "photos/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/images/{photoId}/display-url": {
      "get": {
        "summary": "Signed image display URL alias",
        "operationId": "getImagesByPhotoIdDisplayUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/photoId"
          }
        ],
        "responses": {
          "200": {
            "description": "Signed image display URL alias"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "inventory/read"
        ]
      }
    },
    "/plans": {
      "get": {
        "summary": "List floor plans",
        "operationId": "getPlans",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List floor plans"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      },
      "post": {
        "summary": "Create floor plan",
        "operationId": "createPlan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "moveId"
                ],
                "properties": {
                  "moveId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "destination",
                      "origin"
                    ]
                  },
                  "defaultWallThicknessIn": {
                    "type": "number"
                  },
                  "defaultCeilingHeightIn": {
                    "type": "number"
                  },
                  "gridSnapIn": {
                    "type": "number"
                  },
                  "northAngleDeg": {
                    "type": "number"
                  },
                  "mainLevelName": {
                    "type": "string"
                  },
                  "yardLevelName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created floor plan with default indoor and yard levels."
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ]
      }
    },
    "/plans/{planId}": {
      "get": {
        "summary": "Get floor plan document",
        "operationId": "getPlansByPlanId",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get floor plan document"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      }
    },
    "/plans/{planId}/summary": {
      "get": {
        "summary": "Get floor plan summary",
        "operationId": "getPlansByPlanIdSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get floor plan summary"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      }
    },
    "/plans/{planId}/snapshot.svg": {
      "get": {
        "summary": "Get floor plan SVG snapshot",
        "operationId": "getPlansByPlanIdSnapshotSvg",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get floor plan SVG snapshot"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      }
    },
    "/plans/{planId}/ops": {
      "post": {
        "summary": "Apply floor plan operations",
        "operationId": "postPlansByPlanIdOps",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Apply floor plan operations"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/plans/{planId}/proposals": {
      "get": {
        "summary": "List floor plan proposals",
        "operationId": "getPlansByPlanIdProposals",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "List floor plan proposals"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      },
      "post": {
        "summary": "Create floor plan proposal",
        "operationId": "postPlansByPlanIdProposals",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Create floor plan proposal"
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/plans/{planId}/floorplan-evidence": {
      "get": {
        "summary": "List floorplan evidence and measurements",
        "operationId": "getPlansByPlanIdFloorplanEvidence",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence ledger, measurement ledger, and latest solve run."
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/read"
        ]
      },
      "post": {
        "summary": "Create floorplan evidence and measurements",
        "operationId": "postPlansByPlanIdFloorplanEvidence",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "201": {
            "description": "Created floorplan evidence and measurement rows."
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorplanEvidenceInput"
              }
            }
          }
        }
      }
    },
    "/plans/{planId}/floorplan-evidence/{evidenceId}": {
      "patch": {
        "summary": "Update floorplan evidence",
        "operationId": "patchPlansByPlanIdFloorplanEvidenceByEvidenceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          },
          {
            "name": "evidenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated floorplan evidence."
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/plans/{planId}/floorplan-evidence/{evidenceId}/supersede": {
      "post": {
        "summary": "Supersede floorplan evidence",
        "operationId": "postPlansByPlanIdFloorplanEvidenceByEvidenceIdSupersede",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          },
          {
            "name": "evidenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Superseded floorplan evidence."
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
          "plans/write"
        ]
      }
    },
    "/plans/{planId}/floorplan-observations": {
      "get": {
        "summary": "List floorplan observations",
        "operationId": "getPlansByPlanIdFloorplanObservations",
        "parameters": [
          {
            "$ref": "#/components/parameters/planId"
          }
        ],
        "responses": {
          "200": {
            "description": "Atomic floorplan observations for the plan."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope or move access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-requiredScopes": [
[...]
